{% extends 'base/base.html' %}
{% block content %}
{% load staticfiles%}




<hr> 


        <div style="float:left" class="col-md-6">
            <div class="text-md-center" class="lead">
                <h4  class="lead"><strong> Resultados</strong></h4><hr>
                <div class=" chats border"  >
                        
                        <div class="media c"  >
                                <div class="media align-self-center">
                                        <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                    </div>
                                    <div class="media col-md-7" >
                                     <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                              <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                        </a>  
                                    </div>
                                
                                <div class="media align-self-center">
                                    <a href="#" class="btn btn-custom">Contact Now</a>
                                </div>
                            
                        </div>
                            <hr>
                            <div class="media c"  >
                                    <div class="media align-self-center">
                                            <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                        </div>
                                        <div class="media col-md-7" >
                                         <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                                  <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                            </a>  
                                        </div>
                                    
                                    <div class="media align-self-center">
                                        <a href="#" class="btn btn-custom">Contact Now</a>
                                    </div>
                                
                            </div>
                                <hr>  
                                
                            <div class="media c"  >
                                        <div class="media align-self-center">
                                                <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                            </div>
                                            <div class="media col-md-7" >
                                             <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                                      <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                                </a>  
                                            </div>
                                        
                                        <div class="media align-self-center">
                                            <a href="#" class="btn btn-custom">Contact Now</a>
                                        </div>
                                    
                                </div>
                                    <hr>

                                    <div class="media c"  >
                                            <div class="media align-self-center">
                                                    <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                                </div>
                                                <div class="media col-md-7" >
                                                 <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                                          <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                                    </a>  
                                                </div>
                                            
                                            <div class="media align-self-center">
                                                <a href="#" class="btn btn-custom">Contact Now</a>
                                            </div>
                                        
                                    </div>
                                        <hr>
                            
                                        <div class="media c"  >
                                                <div class="media align-self-center">
                                                        <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                                    </div>
                                                    <div class="media col-md-7" >
                                                     <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                                              <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                                        </a>  
                                                    </div>
                                                
                                                <div class="media align-self-center">
                                                    <a href="#" class="btn btn-custom">Contact Now</a>
                                                </div>
                                            
                                        </div>
                                            <hr>
                                            <div class="media c"  >
                                                    <div class="media align-self-center">
                                                            <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                                        </div>
                                                        <div class="media col-md-7" >
                                                         <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                                                  <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                                            </a>  
                                                        </div>
                                                    
                                                    <div class="media align-self-center">
                                                        <a href="#" class="btn btn-custom">Contact Now</a>
                                                    </div>
                                                
                                            </div>
                                                <hr>
                                
                                                <div class="media c"  >
                                                        <div class="media align-self-center">
                                                                <img class="rounded-circle" src="{% static 'img/A.png' %}">
                                                            </div>
                                                            <div class="media col-md-7" >
                                                             <a href="" >  <h4 style="color: #000;" >Camila Terry</h4> 
                                                                      <p style="color: #000;">ing. sitemas, Habil en css, java, html tabajo en claro</p>
                                                                </a>  
                                                            </div>
                                                        
                                                        <div class="media align-self-center">
                                                            <a href="#" class="btn btn-custom">Contact Now</a>
                                                        </div>
                                                    
                                                </div>
                                                    <hr>

                </div>   
            </div>



        </div>
        <div style="float:left" class="col-md-5">
            <div class="text-md-center" class="lead">
                <h4  class="lead"><strong>Informacion</strong></h4><hr>
                <div class="chat border " style="height: 400px; background-color: rgb(215, 230, 230)" >
                        
                </div>
            </div>
        </div>

{% endblock %}